.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  color: #333;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  text-align: left;
}

.user-table thead {
  background-color: #4caf50;
  color: white;
}

.user-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table tbody tr:hover {
  background-color: #eaeaea;
}

.user-table th {
  background-color: #4caf50;
  color: white;
}

.user-table td {
  color: #333;
}

.user-table tbody tr:hover td {
  color: #000;
}

/* Login.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
